google-cloud-firestore
pandas
beautifulsoup4
Markdown
matplotlib
numpy
plotly
requests
streamlit
streamlit-book
streamlit-option-menu
toml
urllib3
transformer
tensorflow
python-dotenv
Wikipedia-API
spacy
outputformat
pyvis
